@{
    Layout = "_Layout";
}

<body id="band-form">
<h1 class="header">Add A Band</h1>

<div class="container">
    <form action="/bands" method="post" class="form-group">
        <label for="band-name">Name:</label>
        <input type="text" name="band-name" class="form-control">
        <button type="submit" class="btn btn-default form-submit">Submit</button>
    </form>
</div>
</body>