@{
    Layout = "_Layout";
}
<body id="index">
<h1 class="header">Welcome To Band Tracker</h1>

<div class="row">
    <div class="col-md-6 band-button">
        <a href="/bands" class="btn btn-default band-button">View Bands</a>
    </div>
    <div class="col-md-6 venue-button">
        <a href="/venues" class="btn btn-default venue-button">View Venues</a>
    </div>
</div>
</body>